header{
  border-style: solid;
  border-color: aqua;
  margin: 10px;
}
nav{
  border-style: solid;
  border-color: aqua;
  margin: 10px;
}
section{
  border-style: solid;
  border-color: aqua;
  margin: 10px;
}
aside
{
  border-style: solid;
  border-color: aqua;
  margin: 10px;
}
footer{
  border-style: solid;
  border-color: aqua;
  margin: 10px;
}